<!--Banner Start-->
    <div id="banner">
      <ul id="home-banner">
        <li>  <%= image_tag "banner-1.jpg" %>
          <div class="caption">
            <div class="holder">
              <div class="holder">
              <h1>Consultoria<span> Ambiental</span> <span></span></h1>
              <strong class="title">especializada</strong> en cambiar</div>
          </div>
        </li>
        <li> <%= image_tag "banner-1.jpg" %>
          <div class="caption">
            <div class="holder">
              <h1>From <span>Poverty</span> to <span>Plenty</span></h1>
              <strong class="title">Let’s plant 200 garedens in this spring</strong> </div>
          </div>
        </li>
        <li> <%= image_tag "banner-1.jpg" %>
          <div class="caption">
            <div class="holder">
               <div class="holder">
              <h1>Consultoria<span> Ambiental</span> <span></span></h1>
              <strong class="title">especializada</strong> en cambiar</div>
          </div>
        </li>
        <li> <%= image_tag "banner-1.jpg" %>
          <div class="caption">
            <div class="holder">
               <div class="holder">
              <h1>Consultoria<span> Ambiental</span> <span></span></h1>
              <strong class="title">especializada</strong> en cambiar</div>
          </div>
        </li>
      </ul>
      <div id="bx-pager"> <a data-slide-index="0" href="" class="rollIn animated"><%= image_tag "banner-thumb-1.jpg" %></a> <a data-slide-index="1" href="" class="rollIn animated"><%= image_tag "banner-thumb-2.jpg" %></a> <a data-slide-index="2" href="" class="rollIn animated"><%= image_tag "banner-thumb-3.jpg" %></a> <a data-slide-index="3" href="" class="rollIn animated"><%= image_tag "banner-thumb-4.jpg" %></a> </div>
    </div>
    <!--Banner End--> 


<!--Main Start-->
  <div id="main" class="spacing"> 
    <!--Our Services Section Start-->
    <section class="our-services">
      <div class="container">
        <div class="generic-heading">
          <h2>Nuestros Servicios</h2>
          <strong class="title-line">Lo que estamos haciendo</strong> </div>
        <div class="row">
          <div class="span3">
            <div class="services-box">
              <div class="services-round"><a href="#" class="sprite-1"><i class="fa fa-camera-retro fa-lg"></i></a></div>
              <h3>Diseño y Construcción</h3>
              <strong class="title-text">Operación</strong> <p> y mantenimiento de Plantas de Tratamiento de Agua Potable, Aguas Residuales Industriales </p>
              <a href="how-we-work.html" class="readmore">Leer Más<i class="fa fa-arrow-right"></i></a> </div>
          </div>
          <div class="span3">
            <div class="services-box">
              <div class="services-round"><a href="#" class="sprite-2"><i class="fa fa-bolt"></i></a></div>
              <h3>Comercialización</h3>
              <strong class="title-text">Donec ac sem vitae </strong>
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots </p>
              <a href="how-we-work.html" class="readmore">Leer Más<i class="fa fa-arrow-right"></i></a> </div>
          </div>
          <div class="span3">
            <div class="services-box">
              <div class="services-round"><a href="#" class="sprite-3"><i class="fa fa-cog"></i></a></div>
              <h3>Consultoria </h3>
              <strong class="title-text">Maecenas a lectus urn </strong>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority </p>
              <a href="how-we-work.html" class="readmore">Leer Más<i class="fa fa-arrow-right"></i></a> </div>
          </div>
          <div class="span3">
            <div class="services-box">
              <div class="services-round"><a href="#" class="sprite-4"><i class="fa fa-lightbulb-o"></i></a></div>
              <h3>Asesoría Ambiental</h3>
              <strong class="title-text"> Vestibulum lacus ligul</strong>
              <p>The standard chunk of Lore used since the 1500s is reproduced below those interested.</p>
              <a href="how-we-work.html" class="readmore">Leer Más<i class="fa fa-arrow-right"></i></a> </div>
          </div>
        </div>
      </div>
    </section>
    <!--Our Services Section End--> 
    
    
             
    
  
           
          
   
    
   
    
    <!--Featured Video Section Start-->
    <section class="featured-video-box slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="generic-heading">
          <h2>¿Qué es Innova Ambiente Ingenieria?</h2>
          <strong class="title-line">Algo de lo que hacemos</strong> </div>
        <div class="row-fluid">
          <div class="span7">
            <div class="featured-video-col">
              <iframe src="http://player.vimeo.com/video/26802834" style="width:100%; height:357px;"></iframe>
            </div>
          </div>
          <div class="span5">
            <div class="featured-video-text">
              <h3>Ver algunos Videos</h3>
              <strong class="title">Mollis Ipsum Tortor Vulputate</strong>
              <ul>
                <li>
                  <div class="frame"><a href="#"><img src="images/featured-video-img-1.jpg" alt="img"></a></div>
                  <div class="text-box">
                    <div class="number-round">1</div>
                    <strong class="title">Lorem ipsum dolor sit amet, consectetur</strong>
                    <p>adipiscing eliteger gravida velit quis dolo</p>
                    <a href="#" class="readmore">Read More</a> </div>
                </li>
                <li>
                  <div class="frame"><a href="#"><img src="images/featured-video-img-2.jpg" alt="img"></a></div>
                  <div class="text-box">
                    <div class="number-round">2</div>
                    <strong class="title">Lorem ipsum dolor sit amet, consectetur</strong>
                    <p>adipiscing eliteger gravida velit quis dolo</p>
                    <a href="#" class="readmore">Read More</a> </div>
                </li>
                <li>
                  <div class="frame"><a href="#"><img src="images/featured-video-img-3.jpg" alt="img"></a></div>
                  <div class="text-box">
                    <div class="number-round">3</div>
                    <strong class="title">Lorem ipsum dolor sit amet, consectetur</strong>
                    <p>adipiscing eliteger gravida velit quis dolo</p>
                    <a href="#" class="readmore">Read More</a> </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Featured Video Section End--> 
     
   
    <!--Home Testimonials Start-->
    <section class="home-testimonials">
      <div class="container">
        <ul id="home-textimonials-slider">
          <li>
            <div class="testimonials-box">
              <div class="testimonials-text"> <i class="fa fa-quote-right"></i>
                <p>The superior man understands what is right; the inferior man understands what will sell.</p>
                <ul class="tags">
                  <li><a href="#">-Confucius,</a></li>
                  <li><a href="#">Chinese</a></li>
                  <li><a href="#">teacher,</a></li>
                  <li><a href="#">editor,</a></li>
                  <li><a href="#">politician,</a></li>
                  <li><a href="#">and philosopher</a></li>
                </ul>
              </div>
              <div class="testimonials-frame"><img src="images/home-testimonials-img-1.jpg" alt="img"></div>
              <div class="client-box">
                <h4>Testimonials</h4>
                <strong class="title">Happy Clients say about us</strong> <a href="#" class="view">View More</a> </div>
            </div>
          </li>
          <li>
            <div class="testimonials-box">
              <div class="testimonials-text"> <i class="fa fa-quote-right"></i>
                <p>The superior man understands what is right; the inferior man understands what will sell.</p>
                <ul class="tags">
                  <li><a href="#">-Confucius,</a></li>
                  <li><a href="#">Chinese</a></li>
                  <li><a href="#">teacher,</a></li>
                  <li><a href="#">editor,</a></li>
                  <li><a href="#">politician,</a></li>
                  <li><a href="#">and philosopher</a></li>
                </ul>
              </div>
              <div class="testimonials-frame"><img src="images/home-testimonials-img-2.jpg" alt="img"></div>
              <div class="client-box">
                <h4>Testimonials</h4>
                <strong class="title">Happy Clients say about us</strong> <a href="#" class="view">View More</a> </div>
            </div>
          </li>
          <li>
            <div class="testimonials-box">
              <div class="testimonials-text"> <i class="fa fa-quote-right"></i>
                <p>The superior man understands what is right; the inferior man understands what will sell.</p>
                <ul class="tags">
                  <li><a href="#">-Confucius,</a></li>
                  <li><a href="#">Chinese</a></li>
                  <li><a href="#">teacher,</a></li>
                  <li><a href="#">editor,</a></li>
                  <li><a href="#">politician,</a></li>
                  <li><a href="#">and philosopher</a></li>
                </ul>
              </div>
              <div class="testimonials-frame"><img src="images/home-testimonials-img-1.jpg" alt="img"></div>
              <div class="client-box">
                <h4>Testimonials</h4>
                <strong class="title">Happy Clients say about us</strong> <a href="#" class="view">View More</a> </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <!--Home Testimonials End--> 
  </div>
  <!--Main End--> 
