<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Innova Ambiente Ingeniería " %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,700,600,800' rel='stylesheet' type='text/css'>
  </head>

  <body >
  <div id="wrapper"> 

    <header id="header"> 
    <!--Navigation Area Start-->
    <div class="navigation-box home-page">
      <div class="container"> <strong class="logo">

        <a href="/"> 

        <%= image_tag "logo_innova.png" %>

      </a></strong>
        <div class="top-bar-outer">
          <div class="bottom-row">
           
            <div class="donate-box">  <a href="#" class="btn-donate">Sign <span>Up</span></a> <a href="#" class="btn-donate">Login<span></span></a></div>
          </div>
          <div class="nav-box">
            <div class="navbar">
              <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
              <div class="nav-collapse collapse">
                <nav id="nav">
                  <ul>
                    <li class="active"><a href="index.html">Inicio</a></li>
                    <li><a href="about.html">Quiénes Somos</a></li>
                    <li><a href="where-we-work.html">Productos y Servicios</a>
                     
                    </li>
                    <li><a href="full-gallery.html">Distribuciones</a>
                      
                    </li>
                    <li><a href="event.html">Clientes</a>
                    
                    </li>
                    <li><a href="blog.html">Galería</a>
                      
                    </li>
                    <li><a href="crowed-funding.html">Contáctenos</a>
                      
                    </li>
                   
                  </ul>
                </nav>
              </div>
            </div>
           
          </div>
         
        </div>

      </div>
    </div>
    
    <!--Navigation Area End--> 
    
  </header>
  <!--Header End--> 

       <%= yield %>

     </div > 

    <!--Footer Start-->
  <footer id="footer"> 
    <!--Footer Section 2 Start-->
    <section class="footer-section-2">
      <div class="container">
        <div class="row-fluid">
          <div class="span4">
            <address class="contact-box">
            <strong class="title">Contáctenos</strong>
            <p>Innova Ambiente Ingeniería pensando en el bienestar eco-social y el Desarrollo Sostenible, se dedica a la consultoria especializada en materia ambiental.</p>
            <strong class="number"><span>Teléfono:</span>311 459 00 89</strong> <a href="mailto:" class="email"><span>E-mail:</span>dimameclaing@gmail.com</a> <strong class="number"><span>Dirección :</span>Bogotá, Colombia</strong>
            </address>
          </div>
          <div class="span4">
            <div class="latest-event-gallery">
              <h4>Galería de Fotografías</h4>
              <div class="gallery-box">
                <ul class="gallery">
                  <li><a href="images/events-gallery/event-gallet-img-1.jpg" data-rel="prettyPhoto[gallery1]"><img src="images/events-gallery/event-gallet-img-1.jpg" alt="img" /></a></li>
                  <li><a href="images/events-gallery/event-gallet-img-2.jpg" data-rel="prettyPhoto[gallery1]"><img src="images/events-gallery/event-gallet-img-2.jpg" alt="img" /></a></li>
                  <li><a href="images/events-gallery/event-gallet-img-3.jpg" data-rel="prettyPhoto[gallery1]"><img src="images/events-gallery/event-gallet-img-3.jpg" alt="img" /></a></li>
                  <li><a href="images/events-gallery/event-gallet-img-4.jpg" data-rel="prettyPhoto[gallery1]"><img src="images/events-gallery/event-gallet-img-4.jpg" alt="img" /></a></li>
                  <li><a href="images/events-gallery/event-gallet-img-5.jpg" data-rel="prettyPhoto[gallery1]"><img src="images/events-gallery/event-gallet-img-5.jpg" alt="img" /></a></li>
                  <li><a href="images/events-gallery/event-gallet-img-6.jpg" data-rel="prettyPhoto[gallery1]"><img src="images/events-gallery/event-gallet-img-6.jpg" alt="img" /></a></li>
                  <li><a href="images/events-gallery/event-gallet-img-7.jpg" data-rel="prettyPhoto[gallery1]"><img src="images/events-gallery/event-gallet-img-7.jpg" alt="img" /></a></li>
                  <li><a href="images/events-gallery/event-gallet-img-8.jpg" data-rel="prettyPhoto[gallery1]"><img src="images/events-gallery/event-gallet-img-8.jpg" alt="img" /></a></li>
                  <li><a href="images/events-gallery/event-gallet-img-9.jpg" data-rel="prettyPhoto[gallery1]"><img src="images/events-gallery/event-gallet-img-9.jpg" alt="img" /></a></li>
                  <li><a href="images/events-gallery/event-gallet-img-10.jpg" data-rel="prettyPhoto[gallery1]"><img src="images/events-gallery/event-gallet-img-10.jpg" alt="img" /></a></li>
                  <li><a href="images/events-gallery/event-gallet-img-11.jpg" data-rel="prettyPhoto[gallery1]"><img src="images/events-gallery/event-gallet-img-11.jpg" alt="img" /></a></li>
                  <li><a href="images/events-gallery/event-gallet-img-12.jpg" data-rel="prettyPhoto[gallery1]"><img src="images/events-gallery/event-gallet-img-12.jpg" alt="img" /></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="span4">
            <form action="form-1.php" method="post" class="get-touch-form">
              <h4>Escribanos</h4>
              <ul>
                <li>
                  <input name="name" required pattern="[a-zA-Z ]+" type="text" placeholder="Name" class="get-touch-input">
                </li>
                <li>
                  <input name="email" required pattern="^[a-zA-Z0-9-\_.]+@[a-zA-Z0-9-\_.]+\.[a-zA-Z0-9.]{2,5}$" type="text" placeholder="E-mail" class="get-touch-input">
                </li>
                <li>
                  <textarea name="comment" required cols="10" rows="10" class="get-touch-textarea" placeholder="Comments"></textarea>
                </li>
                <li>
                  <input name="" type="submit" class="btn-send-message" value="Send message">
                </li>
              </ul>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!--Footer Section 2 End--> 
    
    <!--Footer Top Section Start-->
    <section class="footer-top-section">
      <div class="container">
        <div class="row-fluid">
          <div class="span6">
            <div class="left"> <i class="fa fa-envelope"></i> <strong class="title">Recibe Nuestro Boletín Informativo</strong>
              <p>¿ Mantente actualizado sobre todo lo que pasa en Innova?</p>
            </div>
          </div>
          <div class="span6">
            <div class="right">
              <form action="#" class="subscribe-form">
                <input name="" type="text" class="subscribe-input" required>
                <input name="" type="submit" class="btn-signup" value="Sign up">
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Footer Top Section End--> 
    
    
    <!--CopyRights Section Start-->
    <section class="copyrights-section">
      <div class="container">
        <ul class="footer-social">
          <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
        </ul>
        <strong class="copy">COPYRIGHT &copy; 2014  By <a href="http://crunchpress.com/" target="_blank" class="web">
          Innova Ambiente Ingeniería</a></strong> </div>
    </section>
    <!--CopyRights Section End--> 
  </footer>
  <!--Footer End--> 
</div>
<!--Wrapper End--> 
    <%= javascript_include_tag "application" %>
    <!--JQUERY Start--> 
<!--Jquery 1.11.1 Js--> 
<script src="assets/jquery.js"></script> 
<!--Bootstrap Js--> 
<script src="assets/bootstrap.js"></script> 
<!--Modernizr Js--> 
<script src="assets/modernizr.custom.97074.js"></script> 
<!--Recent News Posts Images Effect Js--> 
<script src="assets/jquery.hoverdir.js"></script> 
<!--Bx Slider Js--> 
<script src="assets/jquery.bxslider.js"></script> 
<!--Next Event Contdown Js--> 
<script src="assets/jquery.plugin.js"></script> 
<!--Next Event Contdown Js--> 
<script src="assets/jquery.countdown.js"></script> 
<!--Our Chrity Store JS--> 
<script src="assets/jquery.flexisel.js"></script> 
<!--Parallax Effect Js--> 
<script src="assets/jquery.stellar.min.js"></script> 
<!--Footer Map Js--> 
<script src="http://maps.google.com/maps/api/js?sensor=false"></script> 
<!--Pretty Photo Js--> 
<script src="assets/jquery.prettyPhoto.js"></script> 
<!-- Style Switcher --> 
<script type="text/javascript" src="assets/styleswitch.js"></script> 
<script type="text/javascript" src="assets/jquery.tabSlideOut.v1.3.js"></script> 
<!--Custom Js--> 
<script src="assets/custom.js"></script>
  </body>
</html>